@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.poppins{    font-family: 'Poppins', sans-serif;}

::-moz-selection{background:#FFB547;color:#fff}
::selection{background:#FFB547;color:#fff}

body{font-family: 'Inter', sans-serif;font-size: 15px;font-weight: 400;color: #484b56;line-height: 1.7;padding-top: 84px;}
a{color: #FFB547;text-decoration:none;outline: none;}
a,
.btn,
button{-webkit-transition: all .3s;-moz-transition: all .3s;-o-transition: all .3s;transition: all .3s; }
a:hover {color: #FFB547; text-decoration: none;}
.fancybox-button{min-width: auto;} 
h1, h2, h3, h4, h5, h6{font-weight: 700;font-family: 'Inter', sans-serif;line-height: 1.2;margin-bottom: 20px;color: #000;}
.main-section a.link {word-break: break-all;overflow: hidden;display: inline-block;}
a.link:before { content: ""; position: absolute; left: 0px; height: 1px; width: 0px; background: #FFB547; bottom: 0px; 
-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; } 
a.link:hover:before { width: 100%; } 
a.link:hover { color: #FFB547; }
a.link i {font-size: 11px;}
h1{font-size: 30px;letter-spacing:0px;}
h2{font-size: 25px;}
h3{font-size: 25px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
h6{font-size: 16px;}


.mrt-20{margin-top:20px;}
.mb-50 {margin-bottom: 50px;}
.fs-60{font-size:60px;}
.fs-45 {font-size:45px;}
.fs-35 {font-size:35px;}
.fs-30 {font-size:30px;}
.fs-25{font-size:25px;}
.fs-18{font-size:18px;}


img{max-width: 100%;}
button, .btn, input[type="submit"]{    border: 0px;  min-width: 150px;    padding: 15px 18px;    cursor: pointer;   position: relative;
    font-family: 'Inter', sans-serif;    box-shadow: none !important;    color: #fff;    background: #FFB547;
    font-size: 14px;    line-height: 21px;    font-weight: 400;    letter-spacing: 1px;    border-radius:5px; text-transform: capitalize;}
[type=reset]:hover, [type=submit]:hover, button:hover, .btn:hover, html [type=button]:hover  {background: #0e0e0e;border-color: #0e0e0e;color: #fff;cursor: pointer;}
[type=reset]:focus, 
[type=submit]:focus,
button:focus, 
.btn:focus, 
html [type=button]:focus { outline: 0; box-shadow: 0 0 8px rgba(0, 0, 0, .33);}
/*
.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {background: #FFB547; color: #fff;}
*/
a.link {font-weight: 500;text-decoration: none;color: rgb(76 175 80 / 88%);position: relative;font-size: 14px;}
input[type="file"] { font-size: 14px;   -webkit-appearance: none;}
.field {margin-bottom: 15px;display: inline-block;width: 100%; float: left;}
form{display: inline-block;width: 100%;}
.form-control {
  outline: none !important;
  padding: 14px 15px;
  border-radius: 4px;
  border: 1px solid rgb(119 119 119 / 26%);
  background: #fff;
  box-shadow:none !important;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  font-family: 'Inter', sans-serif;
  }
textarea.form-control { min-height: 91px;}
.form-control:focus {  background-color: transparent;  border-color: inherit;} 
select.form-control:not([size]):not([multiple]) { height: 49px; -webkit-appearance: none;  
 background-image: url(images/select-arrow.png); background-position: 99% center;    background-repeat: no-repeat;}
blockquote { padding: 25px 48px 25px 25px;  border-left: 4px solid #FFB547; background: rgba(16, 86, 120, 0.05);
   font-size: 17px;   font-weight: 300;   position: relative;   line-height: 28px;   }
blockquote strong{font-weight:500;}
blockquote:before {content: "";  position: absolute;   top: 0;   right: 0;   border-style: solid;  border-width: 0 41px 41px 0;    border-color: #ddd #fff;   transition: all ease .5s;}
.form-group label {display: block;  margin-bottom: 10px;}

.overview-item { padding: 80px 30px; } 
.over-icon { font-size: 40px; } 
.outline-btn {border: 2px solid #FFB547;background: transparent;color: #FFB547;} 
.outline-btn:hover { background: #FFB547; color: #fff; border-color: #FFB547; } 
.outline-btn.white-btn {color: #fff;background: transparent;border: 2px solid #fff;}
.outline-btn.white-btn:hover {color: #fff;background: #FFB547;border-color: #FFB547;}
.owl-nav { position: absolute; left: 50%; top: 50%; width: 100%; text-align: right; transform: translate(-50%, -50%); 
  padding: 0px 30px; pointer-events: none; } 
.owl-nav .owl-prev { float: left; } 
.owl-nav .owl-next { float: right; } 
.owl-nav button { pointer-events: all; }


 /* nochange*/
 
.font-medium{ font-weight: 500;}
.underline {text-decoration: underline;}
 strong { font-weight: 700;}
.font-light{font-weight: 300;}
.font-semi-bold{font-weight: 600;}
.dropdown-menu li { width: 100%;} 

.white-placeholder .form-control::placeholder {  color:#FFF; opacity: 1;  }
.white-placeholder .form-control::-webkit-input-placeholder { color:#FFF; opacity: 1;}
.white-placeholder .form-control::-moz-placeholder {color:#FFF; opacity:1;}
.white-placeholder .form-control:-ms-input-placeholder {color:#FFF; opacity: 1;}
.white-placeholder .form-control:-moz-placeholder {color:#FFF; opacity: 1;}


.main-section{padding:40px 0px; background-size: cover !important; background-repeat: no-repeat !important; background-position: center center !important;position: relative;}
.main-section .container{position:relative;}
.main-section:before{content:""; position:absolute; left:0px; top:0px; width:100% !important; height:100% !important; background:transparent; }
.pr-50{padding-right:50px;}
.pl-50{padding-left:50px;}
button.close:before { display: none;}
button.close { min-width: auto;  color: #000 !important;  opacity: 1;  background: transparent !important;}
button.close.white-btn {color: #fff !important;}
 .br-5{border-radius: 5px;}
.br-10{border-radius: 10px;}
.box-shadow{ box-shadow: 5px 5px 10px rgb(0 0 0 / 6%);}
.object-fit {overflow: hidden;}
.object-fit img { width: 100%; height: 100%;  object-fit: cover;}
.zoom-hover img {-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition: all .5s;}
.zoom-hover:hover img {transform: scale(1.1);}
.list-style {padding: 0px; list-style: none;}
.list-style li { display: inline-block;}
.fs-50{font-size: 50px;}
button i, 
.btn i, 
.icon-btn i {vertical-align: middle;}

/* header */
.site-logo { max-width: 120px;}
.menu ul li:last-child { margin-right: 0px;}
.menu .list-style { display: inline-block; } 
.eng-menu { display: inline-block; margin-left: 30px; } 
.menu { text-align: right; } 
.headaer {padding: 15px 0px;position: fixed;top: 0px;left: 0px;width: 100%;z-index: 11;background: #fff;box-shadow: 0px 10px 10px rgb(0 0 0 / 3%);} 
.menu ul li a { color: #000; } 
.menu ul li {font-weight: 500;letter-spacing: 1px;margin-right: 20px;}
 
/* product */

::marker {color: #FFB547;  font-size: 20px;  position: absolute; font-weight: 700;}
.mb-30{margin-bottom: 30px;} 
 

/* owl */
.owl-dots button:before, .owl-dots button:after, 
.owl-dots button span:before, .owl-dots button span:after { display: none;}
.owl-dots { height: auto !important; width: 100%; text-align: center;padding-top:20px;  background: transparent !important;}
.owl-dots button {background-color: #9b9898 !important;overflow: hidden;display: inline-block;min-width: auto !important;margin-right: 7px;width: 10px;height: 10px;border: 1px solid #fff !important;border-radius:100%;}
.owl-dots button.owl-dot.active {background: #FFB547 !important;}
.owl-dots button{box-shadow:none !important; outline:none !important;}
.owl-nav button { width: 50px; min-width: auto; height: 50px; position: relative; overflow: hidden;border: 1px solid #fff !important; color: #fff !important;pointer-events: all;}
.owl-nav button span {position: absolute;  z-index: 1;   min-width: auto;
    left: 50%;    top: 50%;    transform: translate(-50%, -50%);    line-height: 1;    font-size: 20px;}  
.owl-nav  .fa-angle-right:before {font-family: 'remixicon' !important; content: "\ea6e";}
.owl-nav .fa-angle-left:before {font-family: 'remixicon' !important; content: "\ea64";} 
.owl-carousel .owl-item img {width: auto;}

.dark-nav .owl-nav {position: absolute;top: 50%;left: 50%;width:100%;transform: translate(-50%, -50%);padding: 0px;}
.patner-slider {padding: 0px 90px;}
.dark-nav .owl-nav button {  border: 0px;    background: #FFB547 !important;}
.dark-nav .owl-nav .owl-prev { float: left;}
.dark-nav .owl-nav .owl-next { float: right;}

.tcolor{color: #FFB547;}
.bg-site {background-color: #FFB547;color: #fff;}
.bg-light{background-color:#f9faff !important;} 
.bg-dark {background-color: #1e1a25 !important; color: #fff;} 
 
 
.defaul-pg img { margin-bottom: 20px; } 
.defaul-pg ul { list-style: none; padding: 0px; } 
.defaul-pg ul li { position: relative; padding-left: 30px; margin-bottom: 10px; font-weight: 500; } 
.defaul-pg ul li:before { content: "\EB81"; font-family: remixicon!important; color: #FFB547; top: 6px; line-height: 1; 
position: absolute; left: 0px; }

.convert-list ul {list-style: none;  padding: 0px; margin: 0px; display: inline-block;   width: 100%;}
.convert-list ul li { display: inline-block; float: left; width: 25%; margin-bottom: 10px; padding-right: 20px; } 
.convert-list { padding-top: 50px; } 
.convert-list ul li a { display: inline-block; width: 100%; padding: 10px 10px 10px 55px; position: relative; border-radius: 10px; 
  background: #f9faff; color: #000; font-size: 15px; } 
.ls-icon { color: #fff; position: absolute; left: 15px; background: #FFB547; width: 30px; text-align: center; border-radius: 5px; } 
.convert-list ul li a:hover { background: #FFB547; color: #fff; }
.footer { padding-top: 30px; border-top: 1px solid #d5cece; } 
.social-icon li a { padding: 10px; } 
.footer-menu li a, 
.footer-menu p { color: #777; font-size: 14px; text-transform: capitalize; } 
.footer-menu p { text-align: right; } 
.footer-menu li { margin-right: 15px; } 
.footer-menu li a:hover { color: #FFB547; }
.inner-banner {padding: 40px 0px;}
.article-img.object-fit { height: 220px;}
.article-txt h2 { font-size: 20px;}
.article-txt h2 a { color: #484b56;}
.article-txt { padding: 20px 15px;}
.article-txt h2 a:hover {color: #FFB547;}


.select-btn { display: inline-block; width: 300px; position: relative; border-radius: 10px; overflow: hidden; cursor: pointer; } 
.select-btn input[type="file"] {width: 100%;height: 97px;} 
.select-btn span {width: 100%;  display: inline-block;  height: 97px;
  position: absolute;  top: 0px;  left: 0px;  display: flex;  align-items: center;
  justify-content: center;  color: #fff;  font-size: 25px;  background: #FFB547;  } 
.select-btn:hover span { background: #000; } 
.field-lg { width: 300px; display: inline-block; } 
.select-from form {display: inline-block;} 
.select-from {text-align: center;max-width: 80%;margin: 40px auto;position: relative;}

.option-sidebar {position: fixed;top: 0px;right: 0px;width: 300px;background: #fff;height: 100%;padding: 120px 30px;box-shadow: 0px 10px 10px rgb(0 0 0 / 3%);} 
.option-sidebar h3 { font-size: 18px; text-align: center; } 
.option-sidebar .field label {font-weight: 700;margin-bottom: 10px;} 
.option-sidebar .field button { margin-top: 35px; } 
.option-sidebar .field { margin-bottom: 20px; }


/* footer  */


 
.back-to-top {    position: fixed;  bottom: 70px;  right: 30px; text-align: center; font-size: 16px; color: #000000; letter-spacing: .308px; z-index: 1111;
    display: inline-block !important;}
.back-to-top span { border-radius: 50%; border: 1px solid #FFB547;width: 42px;  height: 42px;  overflow: hidden;   display: inline-block;
 line-height: 42px;vertical-align: middle;  margin-left: 10px; letter-spacing: .308px; background:#FFB547; color:#fff;}
 



/* breadcrumb */

ul.breadcrumb{border-radius:0;margin:0;background:transparent;padding: 0px;display: inline-block;}
ul.breadcrumb a{ text-decoration:none;}
.breadcrumb li{text-transform:capitalize;transition:all .5s;display: inline-block;font-size: 14px;font-weight: 400;}
.breadcrumb li:nth-last-child(1):after{display:none;}
ol.breadcrumb { background: transparent;  color: #fff;  padding: 0px;  margin-bottom: 0;  }
.breadcrumb li a {color: #FFB547; }
.breadcrumb-item.active {color: #6c757d;}
.breadcrumb-item+.breadcrumb-item::before {color: #6c757d;font-family: remixicon!important;content: "\EA6E";vertical-align: middle;}
 

.before-none:before { display: none;}
.vam { vertical-align: middle;}
.dark-nav .owl-nav .owl-prev { margin-left: -40px;}
.dark-nav .owl-nav .owl-next {margin-right: -40px;}

.accordion-button::after { background-image: none;  font-family: remixicon!important;  content: "\EA13";}
.accordion-button:not(.collapsed)::after {background-image: none;  transform:none;  font-family: remixicon!important;  content: "\F1AF";}
form{display: inline-block;width: 100%;}
.select-from .field {display: flex;} 
.field .field-sm { float: left; width: 50%; padding: 0px 7px; } 
.field .field-sm:first-child { padding-left: 0px; } 
.field .field-sm:last-child { padding-right: 0px; } 
.map { line-height: 0; }
.fs-20{font-size: 20px;}
a.whatsapp-link { display: inline-block; max-width: 155px; position: fixed; bottom: 20px; z-index: 11; left: 30px;}
.br-20 { border-radius: 20px; } 
.br-10 { border-radius: 10px; } 

.field-smm { display: inline-block; padding-left: 10px; } 
.icon-btn { background: #FFB547; width: 45px; height: 45px; border-radius: 100%; line-height: 45px; color: #fff; display: block; margin-bottom: 4px; } 
.field-smm .icon-btn:last-child { margin-bottom: 0px; } 
.icon-btn:hover { background: #000; color: #fff; }
 
 .pagination { justify-content: end; } 
ul.pagination ul li { background: #ECECEC; } 
ul.pagination li a {background: transparent;border: none;
  border-radius: 0px!important;  color: #000; font-size: 15px;  padding: 7px 19px;
  box-shadow: none !important;  min-width: 40px;  border: 1px solid #000;  } 
ul.pagination li { margin-right: 14px; } 
ul.pagination li:last-child { margin-right: 0px; } 
ul.pagination li a:hover,
ul.pagination li.active > a:hover{color: #fff;background: #000;border-color: #000;}
.page-item.active .page-link { z-index: 1; color: #fff;  background-color: #FFB547;  border-color: #FFB547;}
.after-none:after{display: none;} 


.aside {padding: 20px 14px;margin-bottom: 20px;background: #fff;} 
.aside h5 { font-size: 25px; font-weight: 500; } 
ul.recent-post { list-style: none; padding: 0px; } 
ul.recent-post li {position: relative;padding-left: 72px;min-height: 64px;margin-bottom: 10px;border-bottom: 1px solid #eee;padding-bottom: 10px;} 
.recent-post-img {width: 64px;height: 64px;position: absolute;left: 0px;border-radius: 5px;overflow: hidden;} 
.recent-post-img img { width: 100%; height: 100%; object-fit: cover; } 
ul.recent-post li p {font-size: 13px;line-height: 1.3;margin-bottom: 0px; color: #484b56;} 
ul.recent-post li:hover p {color: #FFB547;} 

ul.recent-post li:last-child { margin-bottom: 0px; } 
.text-light { color: #777 !important; font-size: 12px;}
 
.ftc label input[type="radio"] {position: absolute; opacity: 0;}
.ftc label input[type="radio"]:checked + span {background: #FFB547;}
.ftc label {display: inline-block; margin: 0px;}
.ftc ul li {margin-bottom: 5px; margin-right: 5px;  float: left;}
.ftc {display: inline-block; width: 100%; margin-bottom: 7px;}
.pd-size-option {background: #333;  color: #fff; min-width: auto; padding: 5px 15px;
 font-size: 11px; text-transform: capitalize; font-weight: 500; letter-spacing: 1px; 
 cursor: pointer; display: inline-block;}
.ftc ul {display: inline-block;  margin: 0px !important;}
.footer-menu { padding-bottom: 10px;}


@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.select-container {
    border: 1px dashed #777;
    padding: 32px 100px;
    position: relative;
}

.select-container input#fileElem {
  width: 99%;
    height: 98%;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    opacity: 0;
    z-index: 1;
}

.slt-box i {font-size: 107px;color: #e5322d;line-height: 1;}

.slt-bar {
    padding: 10px 0px;
    font-size: 25px;
    border-top: 1px solid #a5a3a3;
    border-bottom: 1px solid #a5a3a3;
    margin-bottom: 28px;
}

.image_container .position-absolute {
    background: rgb(255 255 255 / 88%);
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    line-height: 30px;
    color: #000;
    right: 0px;
    font-size: 20px;
}

div#google_translate_element {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

select.goog-te-combo {
    outline: none;
    height: 30px;
    border: 1px solid rgb(119 119 119 / 26%);
}

/* container */

.container-left {
    padding-left: calc(50% - 570px);
}
 
.slt-box.text-center {
  pointer-events: none;
}

.page_size_new_class {padding: 0px 154px;width: 100%;}

.form-group {
    display: inline-block;
    width: 100%;
}

@media (min-width: 767px){ 
.container { max-width: 100%;}
}


@media (min-width: 768px){
.container {max-width: 720px;}
}

@media (min-width: 992px){
.container {max-width: 960px;}

}
@media (min-width: 1200px){
.container {max-width: 1170px;  }
.container-fluid {padding-left: 15px;  padding-right: 15px;}

}